.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-label{
  display: none;
}

.search-bar {
  width: 50%;
  border: none;
  margin-top: 10px;
  padding: 10px;
  -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.search-bar:focus {
  outline: none !important;
  box-shadow: 0 0 10px #c79081;
  -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.search-button {
  margin: 10px 0 0 10px;
  padding: 10px;
  border: none;
  -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.search-button:hover {
  color: #fff;
  box-shadow: 0 0 10px #c79081;
  background-color: #c79081;
}

.search-button:focus {
  outline: none !important;
}

.recipes {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .recipes {
    grid-template-columns: repeat(2, 1fr);
  }
}